* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
#header {
    width: 100%;
    background-size:cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: rgba(122, 122, 122, 0.4);
    z-index: 100;
}
.logo {
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
}
.content h1, .content p {
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
}
.content a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.content a:hover {
    background-color: #fff;
    color: #000;
}
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

/* -------services------ */
#services {
    padding: 30px 0;
    background: #f5f5f5;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 200px));
    grid-gap: 10px;
    justify-content: center;
    margin: 15px 10px;
    color: #5e61ff;
}

.services-list div {
    background: #e4dbfa;
    padding: 20px 20px 30px 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    font-size: 13px;
    color: #5e61ff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.3s;
}

.services-list div:hover {
    transform: scale(1.05);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.9);
}
.services-list div a:hover {
    background: #1900ff;
    color: #fff;
    transform: translateY(-10px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.9);
}

/* ---------Vendors-------- */

#portfolio, #client {
    padding: 50px 0;
    background: #f5f5f5;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(325px, 325px));
    grid-gap: 30px;
    justify-content: center;
    margin: 15px 10px;
    color: #000;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work .work-img {
    width: 325px;
    height: 325px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(250, 250, 250, 0.6),#afb1ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #5e61ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover .work-img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid  #fff;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    color: #000;
}

.btn:hover {
    background:  #1900ff;
    color: #fff;
    transition: background 0.5s;
}

/* ----POPUP---- */

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    right: 0;
    transition: .65s ease-in-out;
}

.popup-inner {
    display: flex;
    align-items: center;
    position: relative;
    width: 700px;
    height: 400px;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    bottom: -100vw;
    right: -100vh;
    transform: rotate(90deg);
    transition: .65s ease-in-out;
}

.popup-inner h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
}
.popup-inner p {
    color: rgb(47, 51, 51);
    line-height: 1.5rem;
    text-align: justify;
    padding-bottom: 25px;
}
.popup-inner .larawan {
    height: 100%;
    width: 45%;
}

.popup-inner .larawan img {
    height: 100%;
    width: 100%;
}

.popup-inner .nilalaman {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
    height: 95%;
    padding: 30px 15px 10px 15px;
}
.popup-inner .closepopup {
    position: absolute;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #000;
    color: #fff;
    line-height: 3.5rem;
    top: -20.4rem;
    right: -20.4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(90deg);
    transition: 0.8s ease-in-out;
    transition-delay: 0.2s;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.popup:target .popup-inner .closepopup {
    top: -1.5rem;
    right: -0.2rem;
    transform: rotate(0);
}

/* ---------contact-------- */

.contact-details {
    width: 100%;
    height: 100vh;
    background-color: rgba(250, 250, 250, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 0%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

